/* ART BY WILL S. */

html {
  font-size: 10px;
}
body {
  display: grid;
  place-items: center;
  background-color: rgba(152, 223, 196, 0.842);
}
.container {
  margin-top: 10rem;
  padding: 5rem;
  box-sizing: border-box;
}

.square-1 {
  position: relative;
  left: 4rem;
  background-color: rgb(39, 39, 39);
  width: 18rem;
  height: 23rem;
  transform: perspective(75em) rotateX(15deg);
}
.square-1::before {
  content: "";
  background-color: rgb(39, 39, 39);
  position: absolute;
  bottom: -1.5rem;
  width: 100%;
  height: 3rem;
  border-radius: 50%;
}
.square-1::after {
  content: "";
  background-color: rgb(38, 192, 51);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  width: 100%;
  height: 3.5rem;
  transform: perspective(0rem) rotateX(0deg);
}
.square-2 {
  position: relative;
  border-radius: 1%;
  bottom: -1rem;
  right: 0.1rem;
  background-color: rgb(39, 39, 39);
  width: 26rem;
  height: 2.5rem;
  z-index: 1;
}
.square-3 {
  position: relative;
  display: inline-block;
  bottom: -2.5rem;
  left: 2rem;
  background-color: whitesmoke;
  border-bottom-left-radius: 90%;
  border-top-right-radius: 100%;
  width: 10rem;
  height: 20rem;
}
.square-3::after {
  content: "";
  background-color: pink;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 100%;
  position: absolute;
  bottom: -1rem;
  left: 3rem;
  height: 16rem;
  width: 6rem;
  transform: rotateY(15deg) rotateX(15deg);
}

.square-4 {
  position: relative;
  display: inline-block;
  bottom: -2.5rem;
  left: 4rem;
  background-color: whitesmoke;
  border-bottom-right-radius: 90%;
  border-top-left-radius: 100%;
  width: 10rem;
  height: 20rem;
}
.square-4::after {
  content: "";
  background-color: pink;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  position: absolute;
  bottom: -1rem;
  right: 3rem;
  height: 16rem;
  width: 6rem;
  transform: rotateY(-15deg) rotateX(15deg);
}
