$line-color: black;
$background-color: rgb(243, 190, 245);
$tunnel-color: rgba(89, 240, 190, 0.904);
$tunnel-end-color: rgb(0, 0, 0);

html {
  display: grid;
  place-content: center;
  background-color: $background-color;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

// Squares that make up the tunnel
.tunnel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78rem;
  height: 78rem;
}
.s-1 {
  position: absolute;
  top: 42.5rem;
  background-color: $tunnel-end-color;
  box-shadow: 0 0 5rem 2rem $tunnel-end-color;
  border: .2rem solid $line-color;
  width: 8rem;
  height: 8rem;
  z-index: 2;

  &:before {
    position: absolute;
    border: .2rem solid $line-color;
    content: '';
    top: -2.5rem;
    left: -2.5rem;
    width: 12.5rem;
    height: 12.5rem;
  }
  &:after {
    position: absolute;
    border: .2rem solid $line-color;
    content: '';
    top: -5.5rem;
    left: -5.5rem;
    width: 18.5rem;
    height: 18.5rem;
  }
}
.s-2 {
  position: absolute;
  top: 34rem;
  border: .2rem solid $line-color;
  width: 25rem;
  height: 25rem;

  &:before {
    position: absolute;
    border: .2rem solid $line-color;
    content: '';
    top: -4rem;
    left: -3.7rem;
    width: 32rem;
    height: 32rem;
  }
  &:after {
    position: absolute;
    border: .4rem solid $line-color;
    content: '';
    top: -7.5rem;
    left: -7.5rem;
    width: 39rem;
    height: 39rem;
  }
}
.s-3 {
  position: absolute;
  top: 23rem;
  border: .4rem solid $line-color;
  width: 46rem;
  height: 46rem;

  &:before {
    position: absolute;
    border: .4rem solid $line-color;
    content: '';
    top: -4rem;
    left: -4rem;
    width: 53.5rem;
    height: 53.5rem;
  }
  &:after {
    position: absolute;
    border: .5rem solid $line-color;
    content: '';
    top: -8rem;
    left: -8rem;
    width: 61.5rem;
    height: 61.5rem;
  }
}
.s-4 {
  position: absolute;
  top: 11rem;
  border: .5rem solid $line-color;
  width: 69.5rem;
  height: 69.5rem;

  &:before {
    position: absolute;
    background-color: $tunnel-color;
    border: 2rem solid $line-color;
    content: '';
    top: -6.4rem;
    left: -6.5rem;
    width: 78.5rem;
    height: 78.5rem;
    z-index: -1;
    box-shadow: 0 .25rem .5rem 1rem rgb(0, 0, 0);
  }
}

// Bottom Vertical Grid Lines
.bottom-wrapper {
  position: absolute;
  top: 50.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78rem;
  height: 35rem;
}
.b-s-1 {
  position: absolute;
  top: -3.8rem;
  border-left: .2rem solid $line-color;
  border-right: .2rem solid $line-color;
  width: 10rem;
  height: 15.5rem;
  transform: perspective(5rem) rotateX(30.5deg);

  &:before {
    content: '';
    position: absolute;
    top: -3.2rem;
    left: 3.7rem;
    border-left: .15rem solid $line-color;
    border-right: .15rem solid $line-color;
    width: 2rem;
    height: 15rem;
    transform: perspective(5.5rem) rotateX(15deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: -2.9rem;
    left: -2.85rem;
    border-left: .2rem solid $line-color;
    border-right: .2rem solid $line-color;
    width: 15.2rem;
    height: 17.7rem;
    transform: perspective(8.1rem) rotateX(4deg);
  }
}

// Top Vertical Grid Lines
.top-wrapper {
  position: absolute;
  top: 7.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78rem;
  height: 35rem;
}
.t-s-1 {
  position: absolute;
  top: 24.25rem;
  border-left: .2rem solid $line-color;
  border-right: .2rem solid $line-color;
  width: 10rem;
  height: 15.65rem;
  transform: perspective(5rem) rotateX(-30.5deg);

  &:before {
    content: '';
    position: absolute;
    top: 2.25rem;
    left: 3.7rem;
    border-left: .15rem solid $line-color;
    border-right: .15rem solid $line-color;
    width: 2rem;
    height: 12.5rem;
    transform: perspective(5.5rem) rotateX(-15deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 1.25rem;
    left: -2.2rem;
    border-left: .2rem solid $line-color;
    border-right: .2rem solid $line-color;
    width: 14rem;
    height: 18.3rem;
    transform: perspective(8.1rem) rotateX(-6.5deg);
  }
}

// Left Horizantal Grid Lines
.left-wrapper {
  position: absolute;
  top: 7.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78rem;
  height: 78rem;
}
.l-s-1 {
  position: absolute;
  top: 38.5rem;
  left: 27rem;
  border-top: .1rem solid $line-color;
  border-bottom: .1rem solid $line-color;
  width: 11.6rem;
  height: 1.65rem;
  transform: perspective(5rem) rotateY(50deg);

  &:after {
    content: '';
    position: absolute;
    top: -1.8rem;
    left: 0.2rem;
    border-top: .1rem solid $line-color;
    border-bottom: .1rem solid $line-color;
    width: 23rem;
    height: 5.25rem;
    transform: perspective(50rem) rotateY(5deg);
  }
}

// Right Horizantal Grid Lines
.right-wrapper {
  position: absolute;
  top: 7.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78rem;
  height: 78rem;
}
.r-s-1 {
  position: absolute;
  top: 38.6rem;
  right: 28.75rem;
  border-top: .1rem solid $line-color;
  border-bottom: .1rem solid $line-color;
  width: 8.6rem;
  height: 1.8rem;
  transform: perspective(1rem) rotateY(-11.75deg);

  
  &:after {
    content: '';
    position: absolute;
    top: -1.6rem;
    left: .2rem;
    border-top: .1rem solid $line-color;
    border-bottom: .1rem solid $line-color;
    width: 8em;
    height: 5rem;
    transform: perspective(9.6rem) rotateY(-27.5deg);
  }

}