@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

html {
  font-size: 8.5px;
  font-family: "Rubik", sans-serif;
}
body {
  background: aliceblue;
  display: grid;
  place-items: center;
  margin: 0;
}
.calculator {
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 10rem auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 55rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.4rem 0.1rem grey;
}

/* Calculator Head */
.calc-head {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
#calc-open {
  box-shadow: 0rem 0rem 0.3rem grey;
  border-radius: 5rem;
  color: whitesmoke;
  background-color: cornflowerblue;
  padding: 0.7rem 2.2rem;
  margin-top: 1.7rem;
  text-shadow: 0 0 1rem grey;
  font-weight: 600;
}
.calc-open:hover {
  background-color: hotpink;
}
#toggle {
  margin-top: 2.2rem;
  font-size: 2.75rem;
  color: grey;
}
#toggle:hover {
  color: black;
}

/* Calculator Output Display */
.calc-display {
  box-shadow: 0rem 0rem 0.2rem grey;
  background-color: rgba(206, 197, 197, 0.301);
  height: 20rem;
  display: block;
}
#running_total {
  color: rgb(110, 109, 109);
  padding: 0 3rem;
  font-size: 3rem;
  position: absolute;
  top: 11rem;
  right: 0.7rem;
}
#total_calculated {
  color: rgb(110, 109, 109);
  font-size: 8rem;
  position: absolute;
  top: 16rem;
  right: 5rem;
}
/* Calculator Buttons  */
.calc-body {
  height: 55rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4rem;
  grid-gap: 2rem;
}
.calc-body div {
  font-size: 5rem;
  text-align: center;
  padding: 1.4rem 0 0;
  border-radius: 5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem grey;
}
.calc-body div:hover {
  border: 2.5px solid grey;
}
.button-s-1 {
  border: 2.5px solid rgba(204, 204, 204);
  background-color: rgb(204, 204, 204);
  color: aliceblue;
}
.button-s-2 {
  border: 2.5px solid whitesmoke;
  background-color: whitesmoke;
  color: rgb(107, 106, 106);
}
.button-s-3 {
  border: 2.5px solid rgba(173, 216, 230);
  background-color: rgba(173, 216, 230);
  color: aliceblue;
}
.button-s-4 {
  border: 2.5px solid rgb(100, 148, 237);
  background-color: rgb(100, 148, 237);
  color: aliceblue;
}
