/* CODED BY: WILL S. -- HTTP://THENATURALWILL.COM */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: row;
}

/* DESKTOP FRAME WORK */
.desktop {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: grey;
  margin: 0;
  width: 100vw;
  height: 95vh;
}
/* DESKTOP ICONS */
.icon-grid {
  box-sizing: border-box;
  display: grid;
  grid-template: auto auto auto auto auto auto;
  margin: 1rem;
}
.icon-set {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  margin: 1rem;
  padding: 0;
}
.icon-set:hover {
  border: 1px lightgrey solid;
  background-color: rgba(211, 211, 211, 0.521);
}
.icon {
  box-sizing: border-box;
  border: whitesmoke 0.1rem solid;
  color: whitesmoke;
  background-color: teal;
  font-size: 1rem;
  margin: 1rem 1rem 0.75rem 1rem;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
}
.icon-set h3 {
  text-shadow: 0.1rem 0.2rem 0.4rem black;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0 2rem 0.5rem;
}

.sticky-1 {
  position: absolute;
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
  right: 5rem;
  top: 3rem;
  background-color: lightpink;
  width: 20rem;
  height: 20rem;
}
.sticky-1::before {
  content: "";
  position: absolute;
  background-color: rgb(245, 153, 167);
  width: 20rem;
  height: 2.5rem;
  z-index: 1;
}
.sticky-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.sticky-1 p {
  margin: 3rem 1.5rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

/* TASKBAR FRAMEWORK */
.taskbar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 9.5rem 80vw 10vw;
  background-color: black;
  color: whitesmoke;
  font-size: 1.4rem;
  margin: 0;
  width: 100vw;
  height: 6vh;
  z-index: 1;
}
/* START BAR */
.start h1 {
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 900;
}
.start h1:hover {
  background-color: grey;
}
/* APPLICTION WINDOWS */
.running-apps {
  margin: 0;
  padding: 0;
}
.running-apps ul {
  display: flex;
  margin: 0.5rem;
  padding: 0 0.5rem;
}
.running-apps li {
  border-bottom: 0.2rem solid whitesmoke;
  list-style-type: none;
  text-decoration: none;
  padding: 1rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.running-apps li:hover {
  background-color: grey;
}
/* NOTIFICATION AREA */
.notifications {
  position: absolute;
  right: 1.5rem;
  bottom: 0;
  margin: 2rem 0;
}
